@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.progress-container {
  position: relative;
  overflow: hidden; /* Add this line */
}

.progress-container .range {
  position: relative;
  background-color: #333;
  width: 300px;
  height: 30px;
  transform: skew(30deg);
  font-family: 'Orbitron', monospace;
}

.progress-container .range:before {
  --width: calc(var(--p) * 1%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #337ab7;
  z-index: 0;
  animation: none;
}

.progress-container .range:after {
  counter-reset: progress var(--p);
  content: counter(progress) '%';
  color: #000;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%) skewX(-30deg);
  z-index: 1;
  animation: none;
}

.progress-container .range__label {
  transform: skew(-30deg) translateY(-100%);
  line-height: 1.5;
}

.skill-card:hover .progress-container .range:before {
  animation: load 0.5s forwards linear;
}

.skill-card:hover .progress-container .range:after {
  animation: none;
}

@keyframes load {
  from {
    width: 0;
  }
  to {
    width: var(--width);
  }
}

@keyframes unload {
  from {
    width: var(--width);
  }
  to {
    width: 0;
  }
}
