/* services */
.services {
    background: linear-gradient(454deg, #4f4080, #9553ff);
    padding-top: 50px;
    padding-bottom:  50px;
}

.services h1 {
    margin-bottom: 15px;

}

.services-box {
    background: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.services-box .fa {
    margin: 0 10px;
    font-size: 20px;    
}

.services-box span {
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

.services-box p {
    font-size: 15px;
    margin-top: 20px;
    color: #777
}

.services-box:hover {
    background: #2e2e2e;
    color: #fff;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}

.services-box:hover p {
    color:#fff;
    transition: 1s;
}
